* {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
  color: #222;
}
body {
  background-color: #eee;
}

a {
  text-decoration: none;
}

#header {
  border-bottom: 1px solid #222;
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.nav {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  height: 100%;
}

.nav__item {
  height: 100%;
  list-style-type: none;
  font-size: 20px;
  font-weight: 600;
  display: block;
  border: 1px solid #222;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px;
  border-bottom: none;
  border-top: none;
  border-right: none;
  transition: ease-in;
  transition-duration: 200ms;
}

.nav__item > a {
  padding: 10px;
  color: inherit;
}

.nav__item:hover {
  /* display: block; */
  background-color: #750014;
  color: #fff;
}

.nav__item:last-child {
  border-right: 1px solid #222;
}

.logo {
  border: 1px solid #222;
  border-bottom: none;
  border-top: none;
}

.logo img {
  width: 100px;
  background-color: transparent;
  padding: 20px;
}

#banner {
  border-bottom: 1px solid #222;
}

.banner__image img {
  width: 100%;
  transition: ease-in;
  transition-duration: 200ms;
}

.banner__image img:hover {
  box-shadow: -10px 10px 0px #111;
  transform: translate(4px, -4px);
}

.wrapper.banner {
  gap: 60px;
  border: 1px solid #222;
  padding: 80px 20px;
  border-top: none;
  border-bottom: none;
}

.banner__title {
  font-size: 48px;
  margin-bottom: 24px;
  color: #750014;
}

.banner__subtext {
  opacity: 0.75;
  font-size: 16px;
}

.banner__text {
  margin-top: 40px;
}

.btn {
  margin-top: 48px;
  padding: 12px 20px;
  background-color: #750014;
  border: none;
  border-radius: 5px;
  color: #f2f2ff;
  width: 200px;
  font-weight: 500;
  font-size: 20px;
  transition: ease-in;
  transition-duration: 200ms;
}

.btn:hover {
  box-shadow: -10px 10px 0px #111;
  transform: translate(4px, -4px);
}
